@mixin hideScrollbar
    &::-webkit-scrollbar
        display: none

        -ms-overflow-style: none
        scrollbar-width: none
    
.authStyle
    .auth
        width: 34vw

        .logo 
            display: inline-flex
            width: 30vw
            height: 38vh
            margin-left: 90px

            .sub-logo 
                max-width: 90%
                border-radius: 50%
                border-style: solid
                border-width: 3px
                border-color: black
                margin: 220px 0 0 0

            .authName 
                font-weight: lighter
                font-size: 50px
                width: 80vw
                margin: 275px 0 80px 0
                text-align: left

.showcase h1
    position: absolute
    top: 6.5%
    right: 3%
    width: 20%
    font-size: 115px
    margin: 0
    opacity: 0
    animation: fadeInLeft 1s 1.25s
    animation-fill-mode: forwards

.project-page
    box-shadow: 0px 200px 250px 65px #000
    border-radius:3em
    position: absolute
    margin: auto
    max-width: 1400px
    font-size: 40px
    text-align: center
    left: 0
    right: 0
    background-color: transparent


    .projects-container
        @include hideScrollbar
        border-radius:3em
        background-color: transparent
        top: 0
        position: sticky
        height: 680px
        overflow-x: hidden
        overflow-y: visible
        display: grid
        gap: 2rem
        opacity: 1
        // animation-fill-mode: forwards
        // animation: fadeIn 1.25s 1.5s