.card
    border-radius: 50px
    display: flex
    flex-direction: column
    justify-content: space-between
    cursor: pointer

    .card-header
        margin-top: -20px

        .card-title
            font-size: 4rem
            color: black
            text-align: center
            padding: 3rem

        .card-image 
            height: 12rem
            width: 100%
            object-fit: fill

    .card-text
        padding: 1rem
        color: #000000
        flex-grow: 1

    .card-links
        display: flex
        flex-direction: column
        padding: 1rem

        .card-link
            text-decoration: none
            color: #000000

        .card-linkB
            text-decoration: none
            color: #000000


    // &:hover
    //     color: #fff

    // &:hover 
    //     transform: scale(1.5)
