$mobile1: 320px
$mobile2: 480px
$tablet: 768px
$laptop: 1024px
$desktop: 1440px

@mixin tablet
    @media screen and (min-width: $tablet)
    @content
.authNameAbout
    display: none
    position: absolute
    left: 1
    top: 28vh
    font-size: 4em
    font-weight: lighter
    width: 7em
    animation: fadeInDown 1.25s 1.25s
    animation-fill-mode: backwards

.sub-logoAbout
    position: absolute
    max-width: 10vw
    border-radius: 50%
    border-style: solid
    border-width: 3px
    border-color: black
    left: 5.5em
    top: 8em
    animation: fadeInDown 1.25s 1.25s
    animation-fill-mode: backwards

.aboutText
    position: absolute
    top: 26.5vh
    width: 50vw
    font-size: 1.85em
    font-weight: 500
    margin: 10px 10px 0px 10px
    padding: 2px
    right: 26%
    box-shadow: 0px 75px 150px 0px #000000
    animation: fadeIn 3s 3s
    animation-fill-mode: backwards

    p
        padding: 10px
        margin-bottom: 10px

.langTop
    position: absolute
    min-width: 1.15em
    min-height: 1.4em
    bottom: 3.35em
    left: 72.8%
    font-size: 170px
    font-weight: 550
    font-style: italic
    animation: fadeInLeft 2s 2.5s
    animation-fill-mode: backwards

.langBot
    position: absolute
    color: #000000
    min-width: 1.50em
    // min-height: 1.
    top: 5.1em
    left: 11.5%
    font-size: 150px
    font-weight: 550
    font-style: italic
    animation: fadeInRight 2s 2.5s
    animation-fill-mode: backwards

.showcase-about h1
    position: absolute
    top: 6.5%
    right: 5.5%
    width: 15.40%
    font-size: 115px
    margin: 0
    opacity: 0
    animation: fadeInLeft 1.5s 1.25s
    animation-fill-mode: forwards

@mixin mobile2
    @media screen and (min-width: $mobile2)
        @content

@mixin tablet
    @media screen and (min-width: $tablet)
        @content

@mixin laptop
    @media screen and (min-width: $laptop)
        @content

@mixin desktop
    @media screen and (min-width: $desktop)
        @content