@mixin xs
    @media screen 
        min-width: 0px
            @content

@mixin sm
    @medias screen
        min-width: 420px
            @content

@mixin md
    @media screen
        min-width: 775px
            @content

@mixin lg
    @media screen
        min-width: 1500px
            @content

@mixin xl
    @media screen
        min-width: 1920px
            @content

.iconLinks
    @include xs
        width: 0px
        height: 0px
    @include sm
        width: 0px
        height: 0px
    @include md
        width: 0px
        height: 0px
    @include lg
        width: 0px
        height: 0px
    @include xl
        width: 0px
        height: 0px
