@use './vars'

$mobile1: 320px
$mobile2: 480px
$tablet: 768px
$laptop: 1024px
$desktop: 1440px

* 
  :after
      clear: both
  :before 
      clear: both
  box-sizing: unset
  border: .1px
  border-color: black
  border-style: dashed
  
body
  display: flex-box
  font-family: 'Roboto'
  background: url('./assets/images/bg.jpg')
  background-size: cover
  background-repeat: no-repeat
  min-height: fit-content
  min-width: fit-content
  overflow: clip    