@mixin mobile1
    @media
        min-width: 0px
            @content

@mixin mobile2
    @medias
        min-width: 420px
            @content

@mixin tablet
    @media
        min-width: 775px
            @content

@mixin laptop
    @media 
        min-width: 1500px
            @content

@mixin desktop
    @media 
        min-width: 1920px
            @content

.navLinks
    @include xs
        width: 0px
        height: 0px
    @include sm
        width: 0px
        height: 0px
    @include md
        width: 0px
        height: 0px
    @include lg
        width: 0px
        height: 0px
    @include xl
        width: 0px
        height: 0px
