.authStyle
    .auth
        width: 34vw

        .logo 
            display: inline-flex
            width: 30vw
            height: 38vh
            margin-left: 90px

            .sub-logo 
                max-width: 90%
                border-radius: 50%
                border-style: solid
                border-width: 3px
                border-color: black
                margin: 220px 0 0 0

            .authName 
                font-weight: lighter
                font-size: 50px
                width: 80vw
                margin: 275px 0 80px 0
                text-align: left

    .showcaseTwo
        position: absolute
        top: 6.5%
        right: 7%
        font-size: 45px

        h1
            margin: 0

.aboutText
    position: absolute
    width: 50vw
    border: 10px solid black
    font-size: 1.5em
    font-weight: bolder
    margin: 20px 10px 0 10px
    padding: 10px
    right: 5%

.aboutList
    position: absolute
    flex-direction: column
    font-stretch: ultra-expanded
    width: 15.25vw
    left: 4.5em
    bottom: 1.85em
    font-size: 75px
    font-weight: lighter
    
.langTop
    position: absolute
    width: 8.5vw
    bottom: 3.3em
    left: 1.05em
    font-size: 150px
    font-weight: 1000
    font-style: italic

.langBot
    position: absolute
    width: 10.5vw
    bottom: .525em
    left: .75em
    font-size: 150px
    font-weight: 1000
    font-style: italic