$mobile: 480px
$tablet: 768px
$laptop: 1024px
$desktop: 1440px

.authNameAbout
    position: absolute
    left: 1rem
    top: 28vh
    font-size: 4em
    font-weight: lighter
    width: 7em
    animation: fadeInDown 1.25s 1.25s
    animation-fill-mode: backwards

.sub-logoAbout
    position: absolute
    max-width: 10vw
    border-radius: 50%
    border-style: solid
    border-width: 3px
    border-color: black
    left: 5.5em
    top: 8em
    animation: fadeInDown 1.25s 1.25s
    animation-fill-mode: backwards

.aboutText
    position: absolute
    top: 27.5vh
    width: 50vw
    font-size: 1.85em
    font-weight: 500
    right: 26.5vw
    box-shadow: 0px 75px 150px 0px #000000
    animation: fadeIn 3s 3s
    animation-fill-mode: backwards

    p
        padding: 10px
        margin-bottom: 10px

.langTop
    position: absolute
    min-width: 1.15em
    min-height: 1.4em
    bottom: 3.35em
    right: 16%
    font-size: 170px
    font-weight: 550
    font-style: italic
    animation: fadeInLeft 2s 2.5s
    animation-fill-mode: backwards

.langBot
    position: absolute
    color: #000000
    min-width: 1.50em
    min-height: 1.4em
    top: 5.1em
    left: 10.5%
    font-size: 150px
    font-weight: 550
    font-style: italic
    animation: fadeInRight 2s 2.5s
    animation-fill-mode: backwards

.showcase-about h1
    position: absolute
    top: 6.5%
    right: 5.5%
    width: 15.40%
    font-size: 115px
    margin: 0
    opacity: 0
    animation: fadeInLeft 1.5s 1.25s
    animation-fill-mode: forwards

@media screen and (max-width: $mobile)
    .authNameAbout
        display: none
    .sub-logoAbout
        display: flex
        max-width: 25vw
        border-radius: 50%
        border-style: solid
        border-width: .3vw
        border-color: black
        left: 4vw
        top: 8vh
        animation: fadeInDown 1.25s 1.25s
        animation-fill-mode: backwards
    .aboutText
        position: absolute
        top: 22vh
        width: 70vw
        font-size: 5.5vw
        left: 16.5vw
        height: 62vh
        overflow-x: hidden
        overflow-y: visible
        box-shadow: 0vh .95vw 1.5vh 0vw #000000
        animation: fadeIn 3s 3s
        animation-fill-mode: backwards
        &::-webkit-scrollbar
            display: none
            -ms-overflow-style: none
            scrollbar-width: none

        p
            display: flex
            padding: 10px
            margin-bottom: 10px
            font-weight: bolder

    .langTop
        display: flex
        bottom: 70vh
        left: 5.5vw
        width: .5vw
        font-size: 10vw
        font-style: italic
        animation: fadeInLeft 2s 2.5s
        animation-fill-mode: backwards
        color: #fff
        
    .langBot
        display: flex
        top: 78vh
        left: 2.25vw
        width: .5vw
        font-size: 10vw
        font-style: italic
        animation: fadeInLeft 2s 2.5s
        animation-fill-mode: backwards
        color: #fff

    .showcase-about h1
        display: flex
        top: 1vh
        left: 22vw
        width: 40.25vw
        font-size: 14vw
        font-weight: bolder
        margin: 0
        opacity: 0
        animation: fadeInLeft 1.5s 1.25s
        animation-fill-mode: forwards