.authStyle
    .auth
        width: 34vw

        .logo 
            display: inline-flex
            width: 30vw
            height: 38vh
            margin-left: 90px

            .sub-logo 
                max-width: 90%
                border-radius: 50%
                border-style: solid
                border-width: 3px
                border-color: black
                margin: 220px 0 0 0

            .authName 
                font-weight: lighter
                font-size: 50px
                width: 80vw
                margin: 275px 0 80px 0
                text-align: left

.showcaseTwo
    position: absolute
    top: 6.5%
    right: 7%
    font-size: 45px

    h1
        margin: 0