.auth    
    animation: fadeInRight 1.8s 1.5s
    animation-fill-mode: backwards

    .sub-logo img
        animation:  Down 1.5s 1.1s
        animation-fill-mode: backwards
        animation-delay: 1.1s
    
.welcomePage
    .Port
        position: absolute
        top: 70%
        right: 12%
        font-size: 250px
        animation: fadeInLeft 2.5s 2s
        animation-fill-mode: backwards
        opacity: 1