$mobile: 480px
$tablet: 768px
$laptop: 1024px
$desktop: 1440px

.sub-logoHome
    position: absolute
    max-width: 35vw
    border-radius: 50%
    border-style: solid
    border-width: 3px
    border-color: black
    left: 2em
    top: 19.5em
    animation: fadeInRight 1.2s 2.5s
    animation-fill-mode: backwards

.authNameHome
    position: absolute
    left: 39%
    top: 30%
    font-size: 12em
    font-weight: lighter
    width: 6.25em
    animation: fadeInRight 1.25s 1.25s
    animation-fill-mode: backwards
    
.welcomePage
    .Port
        position: absolute
        top: 63%
        right: 4%
        font-size: 275px
        animation: fadeInRight 4s 3.75s
        animation-fill-mode: backwards
        opacity: 1

@media screen and (max-width: $mobile)
    .sub-logoHome
        display: flex
        flex-shrink: 0
        max-width: 70vw
        border-radius: 50%
        border-style: solid
        border-width: 3px
        border-color: black
        left: 2vw
        top: 18.5vh
        animation: fadeInRight 1.2s 2.5s
        animation-fill-mode: backwards
    .authNameHome
        display: flex
        flex-shrink: 0
        left: 2.5vw
        top: 12vh
        font-size: 8vw
        font-weight: bolder
        width: 6.2em
        animation: fadeInRight 1.25s 1.25s
        animation-fill-mode: backwards
    .welcomePage
        .Port
            display: flex
            top: 60vh
            right: .5vw
            font-size: 25vw
            font-weight: lighter
            animation: fadeInRight 4s 3.75s
            animation-fill-mode: backwards
            opacity: 1

@media screen and (min-width: 481px) and (max-width: $tablet)
    .sub-logoHome
        flex-shrink: 0
        max-width: 50vw
        border-radius: 50%
        border-style: solid
        border-width: .5vw
        border-color: black
        left: 2vw
        top: 19.5vh
        animation: fadeInRight 1.2s 2.5s
        animation-fill-mode: backwards

    .authNameHome
        flex-shrink: 0
        left: 37vw
        top: 57vh
        font-size: 8.75vw
        font-weight: lighter
        width: 55vw
        animation: fadeInRight 1.25s 1.25s
        animation-fill-mode: backwards
        
    .welcomePage
        .Port
            top: 65vh
            right: 9vw
            font-size: 23.25vw
            animation: fadeInRight 4s 3.75s
            animation-fill-mode: backwards
            opacity: 1