.header {

    .logo {
        display:flex;

        .sub-logo {
            max-width: 90%;
            border-radius: 50%;
            border-style: solid;
            border-width: 2px;
            border-color: black;
            margin: 125px 0 0 20px;
        }
    }
}
            .authName {
                font-weight: lighter;
                font-size: 220px;
                width: 100%;
                margin: 230px 0 200px 0; 
            }
      