.navLinks {
    position: absolute;
    right: 0px;
    top: 35%;
    height: cover;
    width: cover;

    img {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border: 2px solid black;
        border-radius: .25rem;
        max-width: 3vw;
        }
    }
 