 .iconLinks {
    position: absolute;
    bottom: 0;
    right:50%;
    width: cover;

    img {
        display: flex;

        flex-direction: row;
        width: 40px;
        height: 40px;
        content: icon;
    }
 }