 .iconLinks {
    display: inline-flex;
    flex-direction: initial;
    
    img {
        width: 100px;
        height: 100px;
        padding: 20px;
        margin: auto;
        content: icon;
        }
    }