footer {
    padding:20px;
    justify-content: center;
    display: flex;
    flex-shrink: 0;
    font-size: 20px;
<<<<<<< HEAD
    margin: auto;

    a {
        text-decoration: none;
    }
=======
>>>>>>> 477ee3230261c78cbc4b3815e27cf1edaa4cfa5b
}