.iconLinks
    position: absolute
    top: 93vh
    left: 0

    img
        display: inline-flex
        width: 60px
        height: 60px
        content: icon
        margin: 0 10px 0 22px
        background-color: floralwhite
        border-radius: 20%
