<<<<<<< HEAD
@use './styles/globalindex'
=======
@use './styles/globalindex'
* 
  :after
      clear: both
  :before 
      clear: both
  box-sizing: unset
  
body
  display: flex-box
  font-family: 'Roboto'
  background: url('./assets/images/bg.jpg')
  background-size: cover
  background-repeat: no-repeat
  min-height: fit-content
  min-width: fit-content
  overflow: clip
>>>>>>> 3bd306bbab512f68e8059a2db618a013ef76cebc
