$mobile: 480px
$tablet: 768px
$laptop: 1024px
$desktop: 1440px
    
* 
  display: inline-flexbox
  // border: .1px
  // border-color: black
  // border-style: dashed

html, body, #root
  display: flex
  font-family: 'Roboto', sans-serif
  background: url('./assets/images/bg.jpg')
  background-size: cover
  background-repeat: no-repeat
  min-height: 100vh
  min-width: min-content
  overflow: clip
  box-sizing: unset

@media screen and (max-width: $mobile)
  html, body, #root
    display: flex
    min-width: 100vw
    min-height: 100vh
    overflow: clip
    box-sizing: unset
    background-color: #000

@media screen and (min-width: 481px) and (max-width: $tablet)
  html, body, #root
    display: flex
    min-width: 100vw
    min-height: 100vh
    overflow: clip
    box-sizing: unset
    background-color: #000