*
  // border: red
  // border-width: 1px
  // border-style: solid

  body
    font-family: 'Roboto'
    background: url('./assets/images/bg.jpg')
    background-size: cover
    background-repeat: no-repeat
    height: 98vh
    width: 99vw
    overflow: visible