.navLinks 
    position: absolute
    right: 0
    top: 0
    width: cover

    img 
        display: flex
        flex-direction: inline
        align-content: space-between
        border: 2px solid black
        border-radius: .25rem
        width: 40px
        height: 40px
        margin: 40px 10px 40px 10px

        &:hover
                color: #fff

    &:hover 
        // transform: easeout 1.25s