<<<<<<< HEAD
.navList {
    // display: inherit;
    // margin: 0 0.5rem;

    // animation: forwardslide 0.5s ease-in;
    // animation-duration: 3.5s;
=======
nav {
    display: inline-block;
    margin: 0 0.5rem;

    animation: forwardslide 0.5s ease-in-out;
    animation-duration: 3.5s;
>>>>>>> 477ee3230261c78cbc4b3815e27cf1edaa4cfa5b
    
    ul {
        text-align: right;
        padding: 0;
        min-height: 100%;
        min-width: 100%;
    
        li {
                display: inline-flex;
                font-size: 20px;
                padding: 0px 16px 0 16px;
            }

            li a:hover {
                transform: scale(1.5);
                transition: all ease 1.5s;  
                background: none;
            }
                
            a {
                text-decoration: none;
        }
    }
}