.auth
    width: 98.5vw

    .logo 
        display: inline-flex
        width: 98.5vw

        .sub-logo 
            max-width: 90%
            border-radius: 50%
            border-style: solid
            border-width: 3px
            border-color: black
            margin: 250px 0 0 0
        
    

        .authName 
            font-weight: lighter
            font-size: 222px
            width: 98.5vw
            margin: 320px 0 200px 0
            text-align: center